<!DOCTYPE html>
<html lang='ja'>
<head>
  <meta charset="utf-8">
  <title>typing</title>
</head>
<header>
  <h1 class="title">Let's typing!!</h1>
</header>
<body>
  <div id="umi" class='hidden'></div>
  <div id="mask" class='hidden'></div>
  <div id="mask_white" class="hidden hidden2">
    <h1 id="mask_box_count">0</h1>
  </div>
  <!-- モーダル部分 -->
  <div id="modal" class='hidden'>
    <p class="result_title" >~~  RESULT  ~~</p>
    <p class="result_menu">total: <span id="total">0</span></p>
    <p class="result_menu">letter count: <span id="score">0</span></p>
    <p class="result_menu">miss count: <span id="miss">0</span></p>
    <p class="result_menu">accuracy!: <span id="result">0</span>%</p>
  </div>
  <!-- トップページ部分 -->
  <div class='content'>
    <p class="prblem" id="start">js ~click to start~</p>
    <p class="prblem" id="ruby">ruby ~click to start~</p>
    <p id="target"></p>
    <p class="info">
      time limit: <span id="timer">0.00</span>
    </p>
  </div>
  <audio id="sound" preload="auto">
    <source src='https://soundeffect-lab.info/sound/button/mp3/decision23.mp3' type="audio/mp3">
  </audio>
</body>  
</html>